# Virtual environments
.venv/
env/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# SQLite database (se você estiver usando)
*.db

# Arquivos de configuração do IDE/editor
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Dependências instaladas
pip-wheel-metadata/
*.egg-info/
dist/
build/
