* {
    /* border: solid 1px red; */
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #535680;
    margin: 0px;
  /* overflow: hidden; */
}

header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #FFB726;
    position: sticky;
    top: 0px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    row-gap: 20px;
}

header div {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c58607;
}

.pag_name {
    color: #3f4264;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

    ul li a {
    color: #084068;
    text-align: center;
    text-decoration: none;
}

ul li a:hover {
    background-color: #c0ba74;
    height: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #FFB726;
    max-width: 600px;
    min-width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
}

input, textarea, select, button {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px #084068;
    padding: 8px;
}

input, textarea {
    width: 98%;
}

button {
    background-color: #FFB726;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e8a31c;
}

* {
    /* border: solid 1px red; */
}