* {
  padding: 0px;
  margin: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scrollbar-width: thin;
  /* border: solid 1px red; */
}

body {
  background-color: #535680;
}

header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #FFB726;
  position: sticky;
  top: 0px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  row-gap: 20px;
  max-width: 100%;
}

@media screen and (max-width: 1080px) {
  header {
    position: relative;
    justify-content: center;
  }  

  header div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

header div {
  display: flex;
  align-items: center;
}

.titulos {
  display: block;
  color: #323553;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c58607;
}

.pag_name {
  color: #323553;
  margin-left: 10px;
}


ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

ul li a {
  color: #323553;
  text-align: center;
  text-decoration: none;
}

ul li a:hover {
  background-color: #c0ba74;
  height: 50px;
  
}


.hero {
  background: url("assets/img/hero_img.png") no-repeat center center/cover;
  display: flex;
  align-content: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#sobre, #acess-conteudos, #pod-title, #livros-title, #videos-title , #artigos-title , #categorias-title{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: hsl(240, 100%, 94%);
  margin: 50px;
}

#acess-conteudos{
  text-decoration: underline;
}

#sobre h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

.text-sobre {
  font-size: 20px;
  margin-bottom: 0px;
  max-width: 1200px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: auto;
}

.text_infos {
  font-size: 22px;
  font-weight: bold;
  margin: 40px 0 10px 0;
  text-align: left;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  flex-direction: row;
}

.card {
  width: 300px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #fae795;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 16px;
  padding-bottom: 10px;
  transition: 0.3s;
  border: none;
  text-align: justify;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.card_img {
  width: 100%;
  height: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_titulo {
  color: #3f4264;
  text-align: center;
  margin: 10px 15px 5px 15px;
}

.card_titulo h3 {
  margin: 0;
}

.card_texto {
  flex-grow: 1;
  margin: 0 20px 10px 20px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #CC8E1E transparent;
}

.card_botao {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.card_botao input[type="button"] {
  background-color: #FFB726;
  color: rgb(45, 5, 53);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.card_botao input[type="button"]:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(168, 144, 6, 0.5);
}

.titulo_cate{
  justify-self: center;
  padding-top: 15px;
  color: #3f4264;
}

.botao_cont{
  background-color: #FFB726;
  padding: 20px;
  border: solid 1px #c58607; 
  cursor: pointer;
  border-radius: 100%;
  transition: 0.3s;
  font-size: xx-large;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
}

.botao_cont i {
  color: #1E1E1E;

}

.botao_cont:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(168, 144, 6, 0.897)15;
}

.main-footer {
  background-color: #FFB726;
  color: #535680;
  padding: 30px 0 20px 0;
  font-family: 'roboto';
  position: relative; 
  z-index: 10;
}

.footer-content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  max-width: 100%; 
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px solid #535680(255, 255, 255, 0.1); 
}


.footer-column {
  padding: 20px;
  margin: 10px;
  min-width: 250px; 
  flex-grow: 1; 
}

.footer-column h3, .footer-column h4 {
  color: #535680; 
  margin-bottom: 15px;
  text-transform:none;
}

footer ul {
  margin-top: 20px;
  text-decoration:underline;
}

#podca, #heroo, #sobre, #livro, #artigo, #catego, #video {
  scroll-margin-top: 100px;
}

.LINK {

  flex-wrap: wrap;
}

.LINK li a {
  text-decoration: none; 
  color: #084068; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}


.LINK li a:hover {
  background-color: #535680; 
  color: #fae795; 
  cursor: pointer; 
  font-size: 15;
  border-radius: 3px;
}

.frase-footer {
  font-size: 18px;
  margin-bottom: 0px;
  max-width: 1200px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #084068;
}

header div form {
  display: flex;
}

.search-input {
    width: 0;
    padding: 5px 10px;
    border: 2px solid #323553;
    background-color: #FFB726;
    border-radius: 25px;
    transition: width 0.4s ease, padding 0.4s ease, opacity 0.4s ease;
    opacity: 0; 
}

.search-input:focus {
    width: 200px;
    opacity: 1;
}

.search-button {
    cursor: pointer;
    font-size: 18px;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #323553;
}

