
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>
<body>
    <header>
       
        <div class="cont_logo">
            <img src="/static/assets/img/logo_img.png" alt="logo" class="logo">
            <div class="titulos">
                <h1 class="pag_name">Biblioteca Mental</h1>
                <h3 style="margin: 10px;">{{nome}},&nbsp;aqui estão seus conteúdos favoritados!</h3>
            </div>   

        </div>

            <nav>
                <ul>
                    <li><a href="/"><i><i class="fa-solid fa-house-chimney"></i></i>Início</a></li>
                    <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
<section class="favoritos">
    <div class="container">
        {% if not favoritos %}
        <div class="notfav">
            <h3>Você ainda não favoritou nenhum conteúdo!</h3>
        </div>
        {% else %}
            {% for bdcard in favoritos %}
            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename=bdcard.CapaPath) }}" alt="Capa do conteúdo">
                </div>
                <div class="card_titulo">
                    <h3>{{ bdcard.Titulo }}</h3>
                </div>
                <div class="card_texto">
                    <p>{{ bdcard.Sinopse }}</p>
                </div>
                <div class="card_botao">
                    <a href="{{ url_for('arquivo', idconteudo=bdcard.ID_Conteudo) }}">Conheça!</a>
                    <form action="{{ url_for('desfavoritar', conteudo_id=bdcard.ID_Conteudo) }}" method="post" class="fav-form">
                        <button type="submit" class="fav-btn {% if bdcard.ID_Conteudo in favoritos_ids %}favoritado{% endif %}">
                            <i class="fa-solid fa-x" style="color: red;"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
