<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="/static/favoritos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>
<body>
    <header>
       
        <div class="cont_logo">
            <img src="{{ url_for('static', filename='assets/img/logo_img.png') }}" alt="logo" class="logo">
            <div class="titulos">
                <h1 class="pag_name">Biblioteca Mental</h1>
                <h3 style="margin: 10px;">Aqui estão seus conteudos favoritados!</h3>
            </div>   

        </div>

            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}"><i><i class="fa-solid fa-house-chimney"></i></i>Inicio</a></li>
                    <li><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>

</body>
</html>