<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Mental</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>

<body>
    <header>

        <div class="cont_logo">
            <img src="{{ url_for('static', filename='assets/img/logo_img.png') }}" alt="logo" class="logo">
            <div class="titulos">
                <h1 class="pag_name">Biblioteca Mental</h1>
                <h3 style="margin: 10px;"> Bem-vindo(a),&nbsp;{{nome}}!</h3>
            </div>

        </div>

        <div>
            <form action="{{ url_for('pesquisa') }}" method="get">
                <input type="search" id="search-input" name="q" class="search-input" placeholder="Pesquisar...">
                <label for="search-input" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></label>
            </form>

            <nav>
                <ul>
                    <li><a href="#heroo"><i><i class="fa-solid fa-house-chimney"></i></i> Início</a></li>
                    <li><a href="#sobre"><i class="fa-solid fa-brain"></i> Sobre</a></li>
                    <li><a href="{{ url_for('pagina_favoritos') }}"><i class="fa-solid fa-star"></i></i> Favoritos</a></li>
                    <li><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="heroo">
        <div class="hero"></div>
    </section>
    <section id="sobre">
        <h1 style="margin: 20px;">Sobre</h1>
        <p class="text-sobre">A saúde mental vai muito além do que sentimos individualmente. Ela é influenciada
            por
            fatores como saúde física, apoio social, qualidade de vida e ambiente em que vivemos. Segundo a Organização
            Mundial da Saúde, estar bem mentalmente significa reconhecer nossas capacidades, enfrentar desafios,
            trabalhar de forma produtiva e contribuir com a comunidade.</p>
        <p class="text-sobre">No Brasil, o cuidado em saúde mental acontece principalmente por meio da Rede de
            Atenção
            Psicossocial (RAPS), dentro do SUS. Entre os serviços mais importantes estão os Centros de Atenção
            Psicossocial (CAPS), que oferecem acompanhamento especializado, acolhimento e atividades terapêuticas para
            pessoas que enfrentam sofrimento mental intenso ou uso problemático de álcool e outras drogas. Esses espaços
            buscam promover autonomia, inclusão e apoio próximo à comunidade.</p>
        <p class="text-sobre">Nosso site nasce para somar a esse cuidado, disponibilizando vídeos, livros,
            podcasts e
            artigos que podem apoiar quem busca informação ou atravessa momentos difíceis. Também queremos incentivar
            cada pessoa a procurar ajuda profissional, como os CAPS e outros serviços de saúde, reforçando que cuidar da
            mente é essencial para viver com equilíbrio e bem-estar.</p>
    </section>

    <section id="catego">
        <h1 id="categorias-title">Categorias</h1>
        <div class="container">
            <div class="card">
                <div class="card_titulo">
                    <h3>Ansiedade</h3>
                </div>
                <div class="card_texto">
                    <p>
                        Ansiedade é um sentimento natural de preocupação e medo em relação a eventos futuros,
                        mas se torna um transtorno quando é excessiva e prejudica o dia a dia, com sintomas
                        físicos e mentais intensos. As causas podem envolver fatores biológicos (genética),
                        psicológicos (experiências de vida, estresse), ambientais (condições sociais, pandemias),
                        e do estilo de vida (uso de substâncias como álcool e cafeína).
                    </p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Saiba mais"
                        onclick="window.open('https://bvsms.saude.gov.br/ansiedade/')">
                </div>
            </div>
            <div class="card">
                <div class="card_titulo">
                    <h3>Bipolaridade</h3>
                </div>
                <div class="card_texto">
                    <p>
                        Distúrbio associado a alterações de humor que variam entre dois pólos: o depressivo e o maníaco.
                        Trata-se de um transtorno crônico cuja causa exata é desconhecida. Mas acredita-se que
                        seja influenciado por uma combinação multifatorial, envolvendo influências genéticas e
                        ambientais.
                    </p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Saiba mais"
                        onclick="window.open('https://bvsms.saude.gov.br/30-3-dia-mundial-do-transtorno-bipolar/')">
                </div>
            </div>
            <div class="card">
                <div class="card_titulo">
                    <h3>Depressão</h3>
                </div>
                <div class="card_texto">
                    <p>
                        Distúrbio mental caracterizado por depressão persistente ou perda de interesse em atividades,
                        prejudicando
                        significativamente o dia a dia. As causas possíveis incluem uma combinação de origens
                        biológicas, psicológicas
                        e sociais de angústia. A sensação persistente de tristeza ou
                        perda de interesse pode levar a sintomas físicos e comportamentais como alterações no sono,
                        apetite, energia,
                        concentração e autoestima. A depressão também pode ser associada a pensamentos suicidas.
                    </p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Saiba mais"
                        onclick="window.open('https://bvsms.saude.gov.br/depressao-4/')">
                </div>
            </div>
        </div>
    </section>


    <div class="botao_cont">
        <a href="{{ url_for('cadastro_conteudo') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <h1 id="acess-conteudos"> Acesse nossos conteúdos;</h1>

    <section id="podca">
        <h2 id="pod-title">Podcasts</h2>

        <div class="container">
            {% for bdcard in podcasts %}
            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename=bdcard.CapaPath) }}" alt="Capa do livro">
                </div>
                <div class="card_titulo">
                    <h3>{{ bdcard.Titulo }}</h3>
                </div>
                <div class="card_texto">
                    <p>{{ bdcard.Sinopse}}</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('youtube.com', '_blank')">
                    <form action="{{ url_for('favoritar', conteudo_id=bdcard.ID_Conteudo) }}" method="post" class="fav-form">
                            <button type="submit" class="fav-btn {% if bdcard.ID_Conteudo in favoritos_ids %}favoritado{% endif %}">
                                {% if bdcard.ID_Conteudo in favoritos_ids %}
                                    ★
                                {% else %}
                                    ☆
                                {% endif %}
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="pag_cont" href="{{ url_for('pag_conteudos', tipo='podcast') }}"><button>Podcasts</button></a>
    </section>

    <!-- Alterar para livros -->

    <section id="livro">
        <h2 id="livros-title">Livros</h2>

        <div class="container">
            {% for bdcard in livros %}
            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename=bdcard.CapaPath) }}" alt="Capa do livro">
                </div>
                <div class="card_titulo">
                    <h3>{{ bdcard.Titulo }}</h3>
                </div>
                <div class="card_texto">
                    <p>{{ bdcard.Sinopse}}</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('youtube.com', '_blank')">
                        <form action="{{ url_for('favoritar', conteudo_id=bdcard.ID_Conteudo) }}" method="post" class="fav-form">
                            <button type="submit" class="fav-btn {% if bdcard.ID_Conteudo in favoritos_ids %}favoritado{% endif %}">
                                {% if bdcard.ID_Conteudo in favoritos_ids %}
                                    ★
                                {% else %}
                                    ☆
                                {% endif %}
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="pag_cont" href="{{ url_for('pag_conteudos', tipo='livro') }}"><button>Livros</button></a>
    </section>



    <!-- Alterar para videos -->

    <section id="video">
        <h2 id="videos-title">Vídeos</h2>

        <div class="container">
            {% for bdcard in videos %}
            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename=bdcard.CapaPath) }}" alt="Capa do livro">
                </div>
                <div class="card_titulo">
                    <h3>{{ bdcard.Titulo }}</h3>
                </div>
                <div class="card_texto">
                    <p>{{ bdcard.Sinopse}}</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('youtube.com', '_blank')">
                    <form action="{{ url_for('favoritar', conteudo_id=bdcard.ID_Conteudo) }}" method="post" class="fav-form">
                            <button type="submit" class="fav-btn {% if bdcard.ID_Conteudo in favoritos_ids %}favoritado{% endif %}">
                                {% if bdcard.ID_Conteudo in favoritos_ids %}
                                    ★
                                {% else %}
                                    ☆
                                {% endif %}
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="pag_cont" href="{{ url_for('pag_conteudos', tipo='video') }}"><button>Vídeos</button></a>
    </section>

    <section id="artigo">
        <h2 id="artigos-title">Artigos</h2>

        <div class="container">
            {% for bdcard in artigos %}
            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename=bdcard.CapaPath) }}" alt="Capa do livro">
                </div>
                <div class="card_titulo">
                    <h3>{{ bdcard.Titulo }}</h3>
                </div>
                <div class="card_texto">
                    <p>{{ bdcard.Sinopse}}</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('youtube.com', '_blank')">
                    <form action="{{ url_for('favoritar', conteudo_id=bdcard.ID_Conteudo) }}" method="post" class="fav-form">
                            <button type="submit" class="fav-btn {% if bdcard.ID_Conteudo in favoritos_ids %}favoritado{% endif %}">
                                {% if bdcard.ID_Conteudo in favoritos_ids %}
                                    ★
                                {% else %}
                                    ☆
                                {% endif %}
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="pag_cont" href="{{ url_for('pag_conteudos', tipo='artigo') }}"><button>Artigos</button></a>
    </section>
    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-column info-column">
                <h3>BIBLIOTECA MENTAL</h3>
                <p class="frase-footer">A grande jornada para desvendar os mistérios mais profundos: a nossa própria
                    mente.</p>

            </div>

            <div>
                <h4>MAPA DO SITE</h4>

                <ul class="LINK">
                    <li><a href="#heroo">Início </a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#catego">Categorias</a></li>
                    <li><a href="#podca">Podcasts</a></li>
                    <li><a href="#livro">Livros</a></li>
                    <li><a href="#video">Vídeos</a></li>
                    <li><a href="#artigo">Artigos</a></li>
                    <li><a href="{{ url_for('pagina_favoritos') }}">Favoritos</a></li>

                    

                </ul>
            </div>



    </footer>


</body>

</html>