<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Mental</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>

<body>
    <header>
       
        <div>
            <img src="{{ url_for('static', filename='assets/img/logo_img.png') }}" alt="logo" class="logo">
            <div class="titulos">
                <h1 class="pag_name">Biblioteca Mental</h1>
                <h3 style="margin: 10px;"> Bem-vindo(a),  {{nome}}!</h3>
            </div>   

        </div>



        <nav>
            <div class="search-container">
                <input type="text" id="search-input" class="search-input" placeholder="Pesquisar...">
                <label for="search-input" class="search-button">🔍</label>  
            </div>
            <ul>
                <li><a href="#heroo"><i><i class="fa-solid fa-house-chimney"></i></i> Tela principal</a></li>
                <li><a href="#sobre"><i class="fa-solid fa-brain"></i> Sobre</a></li>
                <li><a href="{{ url_for('favoritos') }}"><i class="fa-solid fa-heart"></i> Favoritos</a></li>
                <li><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
            </ul>
        </nav>
    </header>
    <section id="heroo">
    <div class="hero"></div>
    </section>
    <section id="sobre">
        <h1 style="margin: 20px;">Sobre</h1>
        <p class="text-sobre">A saúde mental vai muito além do que sentimos individualmente. Ela é influenciada
            por
            fatores como saúde física, apoio social, qualidade de vida e ambiente em que vivemos. Segundo a Organização
            Mundial da Saúde, estar bem mentalmente significa reconhecer nossas capacidades, enfrentar desafios,
            trabalhar de forma produtiva e contribuir com a comunidade.</p>
        <p class="text-sobre">No Brasil, o cuidado em saúde mental acontece principalmente por meio da Rede de
            Atenção
            Psicossocial (RAPS), dentro do SUS. Entre os serviços mais importantes estão os Centros de Atenção
            Psicossocial (CAPS), que oferecem acompanhamento especializado, acolhimento e atividades terapêuticas para
            pessoas que enfrentam sofrimento mental intenso ou uso problemático de álcool e outras drogas. Esses espaços
            buscam promover autonomia, inclusão e apoio próximo à comunidade.</p>
        <p class="text-sobre">Nosso site nasce para somar a esse cuidado, disponibilizando vídeos, livros,
            podcasts e
            artigos que podem apoiar quem busca informação ou atravessa momentos difíceis. Também queremos incentivar
            cada pessoa a procurar ajuda profissional, como os CAPS e outros serviços de saúde, reforçando que cuidar da
            mente é essencial para viver com equilíbrio e bem-estar.</p>
    </section>
    
    <section id="catego">
    <h1 id="categorias-title">Categorias</h1>
    <div class="container">
        <div class="card">
            <div class="titulo_cate">
                <h3>Ansiedade</h3>
            </div>
            <div class="card_texto">
                <p>
                    Ansiedade é um sentimento natural de preocupação e medo em relação a eventos futuros, 
                    mas se torna um transtorno quando é excessiva e prejudica o dia a dia, com sintomas 
                    físicos e mentais intensos. As causas podem envolver fatores biológicos (genética), 
                    psicológicos (experiências de vida, estresse), ambientais (condições sociais, pandemias),
                    e do estilo de vida (uso de substâncias como álcool e cafeína).
                </p>
            </div>
            <div class="card_botao">
                <input type="button" value="Saiba mais" onclick="window.open('https://bvsms.saude.gov.br/ansiedade/')">
            </div>
        </div>
        <div class="card">
            <div class="titulo_cate">
                <h3>Bipolaridade</h3>
            </div>
            <div class="card_texto">
                <p>
                    Distúrbio associado a alterações de humor que variam entre dois pólos: o depressivo e o maníaco.
                    Trata-se de um transtorno crônico cuja causa exata é desconhecida. Mas acredita-se que 
                    seja influenciado por uma combinação multifatorial, envolvendo influências genéticas e ambientais.
                </p>
            </div>
            <div class="card_botao">
                <input type="button" value="Saiba mais" onclick="window.open('https://bvsms.saude.gov.br/30-3-dia-mundial-do-transtorno-bipolar/')">
            </div>
        </div>
        <div class="card">
            <div class="titulo_cate">
                <h3>Depressão</h3>
            </div>
            <div class="card_texto">
                <p>
                    Distúrbio mental caracterizado por depressão persistente ou perda de interesse em atividades, prejudicando 
                    significativamente o dia a dia. As causas possíveis incluem uma combinação de origens biológicas, psicológicas
                    e sociais de angústia. A sensação persistente de tristeza ou 
                    perda de interesse pode levar a sintomas físicos e comportamentais como alterações no sono, apetite, energia,
                    concentração e autoestima. A depressão também pode ser associada a pensamentos suicidas.
                </p>
            </div>
            <div class="card_botao">
                <input type="button" value="Saiba mais" onclick="window.open('https://bvsms.saude.gov.br/depressao-4/')">
            </div>
        </div>
    </div>
    </section>


    <div class="botao_cont">
        <a href="{{ url_for('cadastro_conteudo') }}"><i class="fa-solid fa-plus"></i></a>
    </div>
    
    <h1 id="acess-conteudos"> Acesse nossos conteúdos</h1>

    <section id="podca">
        <h2 id="pod-title">Podcasts</h2>

        <div class="container">

            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename='assets/img/é_noia_minha_img.jfif') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
                </div>
                <div class="card_titulo">
                    <h3>É nóia minha?</h3>
                </div>
                <div class="card_texto">
                    <p>No Podcast “É nóia minha?” a roteirista, escritora e paranoica de plantão Camila
                        Fremder divide com seus convidados - que muitas vezes acabam sendo tão noiados quanto ela - todas as
                        maluquices que passam pela sua cabeça.</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('https://open.spotify.com/show/3abnr07SkMuHOUOXQpGnf1?si=a3383b160ca04cc5', '_blank')">
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename='assets/img/cardpod.jpg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
                </div>
                <div class="card_titulo">
                    <h3>Saúde Mental em Evidência</h3>
                </div>
                <div class="card_texto">
                    <p>Falamos sobre saúde mental no cotidiano, de maneira simples, desmistificando pseudociências e debatendo com outros profissionais da área da saúde. Alguns assuntos não deveriam ser sobre achismos. Aqui você vai ouvir conversas simples, atuais e científicas sobre saúde mental.</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('https://open.spotify.com/show/1VREgmRWFJHMuAKobz4PG7?si=79ef98efc248453f', '_blank')">
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename='assets/img/sac_de_saude_mental_img.jfif') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
                </div>
                <div class="card_titulo">
                    <h3>SAC de Saúde Mental</h3>
                </div>
                <div class="card_texto">
                    <p>Saúde mental parece ser um bicho de sete cabeças, mas, na verdade, é um elemento
                    importante para nossa saúde. Aqui no SAC de Saúde Mental, as psicólogas Lizandra Brandani e Bianca
                    Dalmaso falam, com bom humor, dos temas de saúde mental que você sempre quis saber, mas não tinha
                    pra
                    quem perguntar.
                    Imagina que a Saúde Mental é uma empresa que, agora, tem um SAC para você interagir com ela à
                    vontade!</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('https://open.spotify.com/show/0vwz6tHHYFN3Me2cRPMBR8?si=4fb43650088d401f', '_blank')">
                </div>
            </div>
        </div>
    </section>

    <!-- Alterar para livros -->

    <section id="livro">
        <h2 id="livros-title">Livros</h2>

        <div class="container">

            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename='assets/img/card.jpg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
                </div>
                <div class="card_titulo">
                    <h3>O demônio do meio-dia</h3>
                </div>
                <div class="card_texto">
                    <p>Entremeando o relato de sua própria batalha contra a doença com o depoimento de
                        vítimas da depressão e a opinião de especialistas, Solomon desconstrói mitos, explora questões
                        éticas e
                        morais, descreve as medicações disponíveis, a eficácia de tratamentos alternativos e o impacto que a
                        depressão tem nas várias populações demográficas (sejam crianças, homossexuais ou os habitantes da
                        Groenlândia).</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('URL', '_blank')">
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename='assets/img/A-Geracao-Ansiosa.jpg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
                </div>
                <div class="card_titulo">
                    <h3>A Geração Ansiosa</h3>
                </div>
                <div class="card_texto">
                    <p>O autor demonstra como a "infância baseada no brincar" entrou em declínio na década de
                        1980 e foi substituída pela "infância baseada no celular", acompanhada por uma hiperconectividade
                        que
                        alterou o desenvolvimento social e neurológico dos jovens e tem causado privação de sono,
                        privação social, fragmentação da atenção e vício. Ele também examina por que as redes sociais
                        prejudicam
                        mais as meninas e os motivos que levam os meninos a migrar do mundo real para o virtual, com
                        consequências desastrosas para eles e as pessoas a seu redor.</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('URL', '_blank')">
                </div>
            </div>

        </div>
        <div></div>
    </section>
    


    <!-- Alterar para videos -->

    <section id="video">
        <h2 id="videos-title">Vídeos</h2>

        <div class="container">

            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename='assets/img/card.jpg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
                </div>
                <div class="card_titulo">
                    <h3>O demônio do meio-dia</h3>
                </div>
                <div class="card_texto">
                    <p>Entremeando o relato de sua própria batalha contra a doença com o depoimento de
                    vítimas da depressão e a opinião de especialistas, Solomon desconstrói mitos, explora questões
                    éticas e
                    morais, descreve as medicações disponíveis, a eficácia de tratamentos alternativos e o impacto que a
                    depressão tem nas várias populações demográficas (sejam crianças, homossexuais ou os habitantes da
                    Groenlândia).</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('URL', '_blank')">
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="{{ url_for('static', filename='assets/img/cardpod.jpg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
                </div>
                <div class="card_titulo">
                    <h3>Saúde Mental em Evidência</h3>
                </div>
                <div class="card_texto">
                    <p>Falamos sobre saúde mental no cotidiano, de maneira simples, desmistificando
                    pseudociências e debatendo com outros profissionais da área da saúde. Alguns assuntos não deveriam
                    ser
                    sobre achismos. Aqui você vai ouvir conversas simples, atuais e científicas sobre saúde mental.</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('URL', '_blank')">
                </div>
            </div>

        </div>
    </section>

    <section id="artigo">
        <h2 id="artigos-title">Artigos</h2>

        <div class="container">
         <div class="card">
               <div class="card_img">
                   <img src="{{ url_for('static', filename='assets/img/') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/img/no_image.jpg') }}';">
               </div>
              <div class="card_titulo">
                   <h3>Título mto maneiro</h3>
              </div>
                <div class="card_texto">
                    <p>Texto texte mto maneiro tbm</p>
                </div>
                <div class="card_botao">
                    <input type="button" value="Conheça!" onclick="window.open('URL', '_blank')">
                </div>
            </div>

        </div>
    </section>
    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-column info-column">
                <h3>BIBLIOTECA   MENTAL</h3>
                <p class="frase-footer">A grande jornada para desvendar os mistérios mais profundos: a nossa própria mente.</p>
        
            </div>
    
            <div>
                <h4>MAPA DO SITE</h4>
                
                <ul class="LINK">
                    <li><a href="#heroo">Tela principal</a></li> 
                    <li><a href="#sobre">Sobre</a></li> 
                    <li><a href="#catego">Categorias</a></li> 
                    <li><a href="#podca">Podcasts</a></li> 
                    <li><a href="#livro">Livros</a></li>
                    <li><a href="#video">Vídeos</a></li> 
                    <li><a href="#artigo">Artigos</a></li>
            
                </ul>
            </div>
    
    
        
    </footer>
    

</body>

</html>