<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='assets/img/logo_img.png') }}" alt="logo" class="logo">
        <div class="header-container">
            <nav class="navegador"></nav>
            <ul>
                <li><a href="#"><i><i class="fa-solid fa-house-chimney"></i> </i>Home</a></li>
                <li><a href="#"><i class="fa-solid fa-address-book"></i> Contato</a></li>
                <li><a href="#"><i class="fa-solid fa-brain"></i> Sobre</a></li>
                <li><a href="/login-usuario"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
            </ul>
        </div>
    </header>
    <h2 class="livros-title">Livros</h2>

    <div class="container">
        <div class="card">
            <img src="{{ url_for('static', filename='assets/img/card2.jpg') }}" alt="" style="width:100%">
            <h4 class="title-card1">O Demônio do Meio Dia</h4>
            <p class="text-card1">Considerado a "bíblia" sobre a depressão. Andrew Solomon mistura seu próprio
                relato de uma depressão severa com uma pesquisa monumental sobre o tema,
                abordando aspectos científicos, culturais, históricos e políticos da doença. É denso e completo.</p>
            <input type="button" value="Conheça!" onclick="window.open('https://www.google.com.br/books/edition/O_dem%C3%B4nio_do_meio_dia/MnXSBAAAQBAJ?hl=pt-BR&gbpv=1&pg=PT3&printsec=frontcover')">
        </div>
        <div class="card">
            <img src="/assets/img/Um_crime_da_solid%C3%A3o" alt="" style="width:100%">
            <h4 class="title-card2">Um Crime da Solidão</h4>
            <p class="text-card2">É uma das obras mais profundas sobre a solidão e o impacto do isolamento social.
                Andrew Solomon investiga as origens, os efeitos e as
                consequências desse fenômeno, misturando relatos pessoais com ampla pesquisa. Ele aborda desde dimensões
                psicológicas e emocionais até fatores culturais,
                sociais e políticos que alimentam o sentimento de solidão no mundo contemporâneo. É um livro sensível,
                analítico e abrangente, que busca compreender
                por que a solidão se tornou um dos grandes males da modernidade.</p>
            <a href="https://www.google.com.br/books/edition/Um_crime_da_solid%C3%A3o/hlFyDwAAQBAJ?hl=pt-BR&gbpv=1&pg=PT2&printsec=frontcover"
                target="_blank" class="botao">Saiba mais</a>
        </div>
        <div class="card">
            <img src="/assets/img/psicopatologia" alt="" style="width:100%">
            <h4 class="title-card3">Psicopatologia e Semiologia dos Transtornos Mentais</h4>
            <p class="text-card3">Considerado uma das obras mais completas sobre psicopatologia no Brasil.
                Escrito por Paulo Dalgalarrondo, o livro organiza de forma clara os sinais e sintomas dos transtornos
                mentais. Além de apresentar classificações internacionais e conceitos fundamentais, a obra discute
                aspectos
                clínicos, diagnósticos e semiológicos, conectando teoria e prática. É didático, abrangente e referência
                indispensável
                para quem deseja compreender a mente humana em suas manifestações de adoecimento.</p>
            <a href="https://www.google.com.br/books/edition/Psicopatologia_e_Semiologia_dos_Transtor/8R5vDwAAQBAJ?hl=pt-BR&gbpv=1&printsec=frontcover"
                target="_blank" class="botao">Saiba mais</a>
        </div>
    </div>
        <div class="card">
            <img src="/assents/img/" alt="" style="width:100%">
            <h4 class="title-card4">Saúde Mental e Atenção Psicossocial</h4>
            <p class="text-card4">É basicamente um manual essencial da Reforma Psiquiátrica brasileira.
                Paulo Amarante, um dos maiores expoentes do movimento, desconstrói o modelo manicomial
                tradicional, expondo sua violência e ineficácia. O livro é uma defesa contundente da
                atenção psicossocial, apresentando os fundamentos teóricos e práticos de um cuidado em
                liberdade, centrado no sujeito, em sua cultura e em seu território. É denso, político e
                indispensável para a área.</p>
            <a href="https://www.google.com.br/books/edition/Sa%C3%BAde_Mental_e_Aten%C3%A7%C3%A3o_Psicossoc/1v4mEAAAQBAJ?hl=pt-BR&gbpv=1&printsec=frontcover"
                target="_blank" class="botao">Saiba mais</a>
        </div>
        <div class="card">
        <img src="/assets/img/Manual_de_Psicofarmacologia_Cl%C3%ADnica" alt="" style="width:100%">
        <h4 class="title-card5">O Lado Bom da Vida</h4>
        <p class="text-card5">É um retrato trágico, cômico e esperançoso sobre saúde mental e recomeços. 
            Matthew Quick narra a história de Pat Peoples, um ex-professor que, após uma passagem por uma 
            instituição psiquiátrica, volta a morar com os pais completamente determinado a reconquistar sua ex-esposa. 
            É um mergulho honesto e peculiar na mente de alguém que lida com o transtorno bipolar, 
            mostrando sua busca por um "lado bom da vida" em meio ao caos familiar, amizades disfuncionais e 
            uma paixão excêntrica. </p>
        <a href="https://www.google.com.br/books/edition/O_lado_bom_da_vida/BfN4xBdBSOIC?hl=pt-BR&gbpv=1&dq=o+lado+bom+da+vida&printsec=frontcover"
            target="_blank" class="botao">Saiba mais</a>
    </div>
</body>

</html>