<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static\login_usuario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>

<body>
    <header>
        <div>
            <img src="{{ url_for('static', filename='assets/img/logo_img.png') }}" alt="logo" class="logo">
            <h1 class="pag_name">Biblioteca Mental</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}"><i><i class="fa-solid fa-house-chimney"></i></i> Tela inicial</a></li>
            </ul>
        </nav>
    </header>

    <div class="caixa_form">
        <form method="POST">
            <div>
                <h1>Entrar</h1>
            </div>
            <div class="inputs">
                <input type="text" name="usuario" id="usuario" placeholder="Usuário" required autofocus>
            </div>
            <div class="inputs">
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
            </div>
            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    {% for categoria, msg in mensagens %}
                        <div class="{{ categoria}}">{{ msg }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div>
                <input class="submit" type="submit" value="Entrar">
            </div>
            <div>
                <input class="cadastro" type="button" value="Ou cadastre-se"
                    onclick="window.location.pathname='/cadastro-usuario';">
            </div>
        </form>
    </div>
</body>

</html>